


@media screen and (max-width: 768px) {

    h1 {
      font-size: 1.6em;
      color:#856fea
     }
  
   .header-menu li{
      font-size: 0.6em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0.5em 0;
      padding-bottom: 0;
    }
    
   .main {
      width: 100%;
      max-width: 19em;
      font-size: 1.2em;
      margin: 0.5em;
      padding: 0;
    }
  
    .footer {
      font-size: 0.6em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0.2em;
    }

      
    .pinturas {
        margin: 1em 1em 1em 2.7em;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px;
    }


  }
      
       
      
  @media screen and (min-width: 768px) and (max-width: 992px) {
    
    h1 {
      font-size: 1.8em;
      color:#1f8b82
     }
  
   .header-menu li{
      font-size: 0.9em;
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin: 0.5em 2em;
      padding: 0 1em 1em 1em;  
    }
    
   .main {
      width: 100%;
      max-width: 25em;
      font-size: 1.5em;
      margin: 0.5em;
      padding: 0;
    }
  
    .footer {
      font-size: 0.8em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0.5em;
    }

    .pinturas {
        margin: 1em 1em 1em 2.7em;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4px;
    }
  
  }
  
  
      
      